[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
loguru = "*"
drf-nested-routers = "*"
attrs = "*"
hrid = "*"
python-decouple = "*"
requests = "*"
django-cors-headers = "*"
mysqlclient = "*"
gunicorn = "*"

[dev-packages]
django-debug-toolbar = "*"
behave = "*"
blue = "*"
mypy = "*"
pytest-cov = "*"
pytest-django = "*"
freezegun = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
